.theater {
  width: 700px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 75% 25%;
  background-color: var(--bg-color);
}

.theater-seats {
  display: grid;
  padding: 5px;
  grid-template-columns: repeat(21, 1fr);
  grid-row-gap: 3px;
}

.theater-count {
  padding: 5px;
}

.theater-reservations {
  padding: 5px;
}

.theater-reservations li {
  list-style-type: none;
  font-size: 0.7em;
}

.theater-reservations button {
  border: 0;
  background-color: transparent;
  color: blue;
  text-decoration: underline;

  font-size: 1em;
}

.theater-reservations button:hover {
  cursor: pointer;
}
